body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.backButton {
  background-color: #1e28d9;
  font-size: 1.3rem;
  border-radius: 20px;
  border: none;
  padding: 20px 80px;
  margin: 20px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.backButton:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
}

.button {
  background-color: white;
  font-size: 1.3rem;
  border-radius: 20px;
  border: none;
  padding: 20px 80px;
  margin: 20px;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
}

.backButton {
  background-color: #1e28d9;
  font-size: 1.3rem;
  border-radius: 15px;
  border: none;
  padding: 10px 30px;
  width: 150px;
  margin: 20px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.backButton:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
}
